.expand_button{
    color: #4554de;
    cursor: pointer;
}  
.more_review{
    background-color: #fe6652;
    border-color: #fe6652;
    font-size: 13px;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    margin: 7px 0;
}
