@import '../../../../styles/config.scss';
.cardTop{
    padding:15px 0;
    border-bottom: 1px solid $border-color;
    a{
        text-decoration: none;
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.23px;
        position: relative;
        color:$primary-color;
        padding-left: 20px;
        display: inline-block;
        &::before{
            background-image: url('../../../../public/images/CarListing/arrowLeft.svg');
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            left:0;
            top:50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
            object-fit: cover;
        }
    }
}  

.carDetails{
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;
    .badgeTxt{
        color:$c-white;
        background-color: $secondry-color;
        border-radius: 17px;
        font-size: 12px;
        line-height: 20px;
    }
    :global(.badge)
    {
        --bs-badge-padding-x: 0.95em;
        --bs-badge-padding-y: 0.25em
    }
    .subTitle{
        font-size: 14px;
        line-height: 18px;
        color:#313131;
    }
    .carInfo{
        padding-top: 15px;
    }
    .carDescriptionData{
        padding: 5px 0;
    }
    .ratingTxtBold{
        font-size: 14px;
        line-height: 20px;
        color:#313131;
    }
    .ratingTxtNo{
        font-size: 14px;
        line-height: 20px;
        color:#313131;
    }
    .ratingLink{
        position: relative;
        padding-right: 20px;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../../../../public/images/CarListing/arrowRightBlue.svg');
            height: 14px;
            width: 8px;
            right:0;
            top:50%;
            transform: translateY(-50%);
            background-repeat: no-repeat;
        }
    }
    .freeCancelDiv{
        position: relative;
        padding-left: 50px;
        &::before{
            content: '';
            background: url('../../../../public/images/CarListing/freeCancel.png') no-repeat;
            height: 35px;
            width: 35px;
            position: absolute;
            top:50%;
            transform: translateY(-50%);
            background-size: contain;
            left:0;
        }
        :global(.header-type3){
            font-size: 14px;
        }
        .cancelTxt{
            font-size: 14px;
            line-height: 20px;
            color:#313131;
        }
    }
   .pickupDiv,.dropOffDiv{
       :global(.header-type3){
           font-size: 14px;
           color:#313131;
        }
        .pickupDate{
            padding:5px 0;
            .carTxt{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .cleaningDiv{
        padding:5px 0;
        .carTxt{
            font-size: 14px;
            line-height: 18px;
        }
    }
    .rentalPolicies{
        :global(.accordion-item){
            margin-bottom: 10px;
            border-color: rgba(151, 151, 151, 0.25);
        }
        :global(.accordion-button){
            &::after{
                background-image: url('../../../../public/images/CarListing/downArrow.svg');
                width: 15px;
                height: 14px;
                background-size: contain;
            }
        }
        :global(.accordion-item:not(:first-of-type)){
            border:1px solid rgba(151, 151, 151, 0.25);
            border-radius: unset;
        }
        :global(.accordion-button:not(.collapsed)){
            background-color:  rgba(65,15,78,0.1);
        }
        :global(.accordion-button:focus){
            box-shadow: none;
        }
        .rentalTxtP, .rentalTxt{
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.23px;
            display: block;
            color:$primary-color;
            font-weight: 500;
        }
        .rentalTxt{
            font-weight: 400;
            color:#313131;
            line-height: 18px;
        }
    }
    .rulesLink{
        position: relative;
        padding-right: 20px;
        display: inline-block;
        &::after{
            position: absolute;
            background-image: url('../../../../public/images/CarListing/rules.svg');
            content: '';
            background-size: contain;
            background-repeat: no-repeat;
            height: 15px;
            width: 15px;
            top:50%;
            transform: translateY(-50%);
            right: 0;
        }
    }
    .extraTxt{
        font-size: 14px;
        line-height: 18px;
    }
    .checkboxDiv{
        margin-top: 10px;
        max-width: 50%;
        @media (min-width:375px) {
            min-width: 100%;
        }
        @media (min-width:768px) {
            min-width: 75%;
        }
        label, .checkboxPrice{
            font-size: 14px;
            color: #2b2b2b;
        }
    }
}