///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE LISTING PAGE COMPONENT.                       //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


.listingpage {
  padding: 20px 0 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
}
