///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE LISTING PAGE COMPONENT.                       //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////

@import "../../../styles/_config.scss";

.listingpage {
  padding: 20px 0 20px;
  background-color: $header-bgcolor;
  border-bottom: 1px solid $ac-type-border-top;
}
