@import "./mixins";
@import "./variables";
@import "./fonts";

/* Colors*/
$c-black: #000;
$c-white: #FFF;
$c-purple: #972bf7;
$c-dgrey: #333539;

/* Font CSS */
$f-bold: 700;
$f-normal: 400;

/* Border Radius */
$border-radius: 4px;