$header-bgcolor: #ffffff;
$primary-color: #410f4e;
$secondry-color: #fe6652;
$accent-color: #000000;
$button-color: #410f4e;
$button-hover-color: #1d1d1d;
$link-color: #109ccf;
$link-hover-color: #410f4e;
$border-color:rgba(151, 151, 151, 0.25);

$text-color: #313131;