$header-bgcolor: #ffffff;
$primary-color: #410f4e;
$secondry-color: #fe6652;
$alert-color: #FF0000;
$accent-color: #000000;
$button-color: #410f4e;
$button-hover-color: #1d1d1d;
$link-color: #109ccf;
$link-hover-color: #410f4e;
$check-box:#c6c6c6;
$border-color:rgba(151, 151, 151, 0.25);
$booked-color:#63b176;
$booking_title-color:#593e5d;
$event-button-hover:rgb(167, 158, 158);
$text-color: #313131;
$box_border-color :#cac6c6;
$star_rating_color: #ffcd3c;