@import "./_config.scss";
html,
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 17px;
}

/* Form Common css*/
.form-control,
.form-select {
  height: 50px;
  border-radius: $border-radius;
}
.formbox {
  .form-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: $secondry-color;
  }
}
.search_formbox {
  .form-control {
    border-color: #999;
    padding-left: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #333;
  }
  .form-select {
    border-color: #999;
    padding-left: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #333;
  }
}
.sort-select {
  .form-select {
    min-width: 240px;
    border-color: #999;
  }
}
/*common checkbox css */
.form-check {
  padding-left: 2rem;
  .form-check-input {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: -2rem;
    &:checked {
      background-color: $primary-color;
      border-color: $primary-color;
    }
  }
  .form-check-label {
    margin-top: 4px;
  }
}
/* Common Button CSS*/
.btntype1 {
  background-color: $secondry-color;
  border-color: $secondry-color;
  padding: 13px 10px 14px;
  &.btn:hover {
    background-color: $c-white;
    border-color: $secondry-color;
    color: $secondry-color;
  }
  &.btn:focus {
    background-color: unset !important;
    border-color: unset !important;
    color: $secondry-color;
  }
}
.btntype2 {
  background-color: transparent;
  border-color: $button-color;
  color: $button-color;
  font-weight: 600;
  padding: 13px 15px;
  min-width: 140px;
  margin-bottom: 10px;
  &.btn:hover {
    background-color: $button-color;
    border-color: $button-color;
    color: #ffffff;
  }
  &.btn:focus {
    background-color: unset !important;
    border-color: unset !important;
    color: $primary-color;
  }
}
.link-type1 {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}
/* Common Header CSS*/
.header-type1 {
  font-size: 18px;
  line-height: 22px;
  // font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.27px;
}
.header-type2 {
  font-size: 24px;
  line-height: 22px;
  // font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.27px;
}
.header-type3 {
  font-size: 16px;
  line-height: 22px;
  // font-weight: bold;
  color: $primary-color;
  letter-spacing: 0.27px;
}
/*Datepicker CSS*/
.react-datepicker__input-container {
  &::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../public/images/icon-calendar.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
  input {
    display: block;
    width: 100%;
    border-radius: $border-radius;
    border: 1px solid #999;
    padding: 10px 10px 10px 40px;
    height: 50px;
  }
}
.pickupTimeDivGlb{
 .react-datepicker__input-container{
    &::before{
    // background-color: red;
    width: 20px;
    height: 20px;
    background-image: url('../public/images/CarListing/time.svg'); 
  }
  }
}
.react-datepicker {
  font-family: inherit !important;
  font-size: 0.95rem !important;
  box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.5);
  @mixin dayview {
    margin: 0.266rem;
    border-radius: 2px;
    width: 2rem;
    padding: 0.2rem;
  }
  .react-datepicker__day-name {
    @include dayview;
  }
  .react-datepicker__day {
    @include dayview;
  }
  .react-datepicker__time-name {
    @include dayview;
  }
}
/*common Dropdown css */
.dropdown {
  .dropdown-toggle {
    background-color: transparent;
    border-color: #ced4da;
    padding: 13px 10px 14px;
    color: #000000;
    text-align: left;
  }
}

.sidebarActive{
  .pageSidebar{
      @include devices(tablet){
          display: block !important;
          position: fixed;
          top: 0;
          left: 0;
          z-index: 1;
          background: white;
          height: 100vh;
          min-width: 320px;
          max-width: 320px;
          overflow-y: auto;
          border-radius: unset;
      }
  }
}
.pageSidebar{
  display: block;
  @include devices(tablet){
      display: none;
  }
}