@import '../../../../styles/config';
:global(.sidebarActive){
    .pageSidebar{
        @include devices(tablet){
            display: block !important;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;
            background: white;
            height: 100vh;
            min-width: 320px;
            max-width: 320px;
            overflow-y: auto;
            border-radius: unset;
        }
    }
}
.pageSidebar{
    display: block;
    @include devices(tablet){
        display: none;
    }
}
.FilterButton{
    height: 43px;;
    display: none;
    @include devices(tablet){
      display: flex;
      align-items: center;
    }
    .filterText{
        margin-bottom: 0;
        padding-left: 10px;
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
    }
}