@import "../../../../styles/config";
.sidebar_section {
    margin-bottom: 15px;
    .sidebar_header {
      background-color: $primary-color;
      color: #ffffff;
      padding: 15px 20px;
      margin: 0;
      font-size: 16px;
      border-radius: 6px 6px 0 0;
    }
    .sidebar_header2 {
        background-color: rgba($primary-color,9%);
        color:$primary-color ;
        padding: 15px 20px;
        margin: 0;
        font-size: 16px;
        border-radius:0;
    }
    .sidebarBox{
        border: 1px solid #dfdfdf;
        padding:20px;
        .price{
            color: $primary-color;
            font-size:23px ;
            line-height: 22px;
            letter-spacing: 0.35px;
            font-weight: 600;
        }
        .perDay{
            color:#313131;
            font-size: 14px;
            line-height: 18px;
            margin:1px 0 8px;
        }
        .freeCancel{
            color:#0f655c;
            font-size: 13px;
            line-height: 17px;
            margin-bottom: 10px;
            .freeCancelTxt{
                display: block;
            }
        }
        
    }
    .sidebarBoxBottom{
        border: 1px solid #dfdfdf;
        border-radius: 0 0 6px 6px;
        padding:20px;
        .carDetailTitle{
        font-size: 14px;
        color: $primary-color;
        font-weight: 500;
        }
        .pickupDiv{
            margin:15px 0;
            padding-bottom: 20px;
            border-bottom: 1px solid gray;
            .pickupTxt{
                font-size: 14px;
                font-weight: 500;
                color: $primary-color;
                display: block;
                padding-bottom: 10px;
            }
            .carRentailTxt{
                font-size: 13px;
                line-height: 20px;
                color:#313131;
                flex:0 0 75%;
            }
            .carRentailTxtprice{
                font-size: 13px;
                flex:0 0 25%;
                text-align: right;
                font-weight: 500;
            }
        }
        .totalDivOuter{
            margin:15px 0;
            .totalDiv{
                padding-bottom: 10px;
            }
            .totalTxt, .totalTxtPrice{
                font-size: 14px;
                font-weight: 500;
                color: $primary-color;
                flex:auto;
            }
            .totalTxtPrice{
                text-align: right;
            }
            .totalPickTxt, .totalPickTxtPrice{
                font-size: 13px;
                line-height: 20px;
                color:#313131;
                flex:auto;
            }
            .totalPickTxtPrice{
                text-align: right;
                font-weight: 500;
            }
        }
    }
}

// Custom Sidebar Starts Here
.title{
    background-color: $primary-color;
    color: $c-white;
    border-radius: 6px 6px 0 0;
    padding: 13px 20px;
}
.sidebarContent{
    border: 1px solid $border-color;
    border-radius: 0 0 6px 6px;
    .flightDetail{
        padding:0 15px;
        .sidebarTitle{
            padding: 10px 0px;
            border-bottom: 1px solid $border-color;
        }
        .flightTitle{
            font-size: 16px;
            font-weight: $f-bold;
            color: $secondry-color;
            padding-top: 15px;
        }
        .flightInfo{
            padding: 15px 0px 10px;
            li{
                list-style: none;
                padding-bottom: 5px;
            }
            .detail{
                font-weight: $f-bold;
                color: $primary-color;
            }
            .fairTypeLink{
                color: $link-color;
            }   
        }
    }
    .price{
        .priceTitle{
            background-color: $primary-color;
            color: $c-white;
            padding: 13px 20px;
        }
    }
    .flightCost{
        padding:0 20px;
        .subTotal{
            padding: 15px 0;
            border-bottom: 1px solid $border-color;
        }
        .total{
            padding: 15px 0;
        }
        .sidebarPrice{
            color: $primary-color;
            font-weight: $f-bold;
        }
        .finalPrice{
            color: $primary-color;
            font-size: 20px;
            font-weight: $f-bold;
        }
    }
}