@import "../../../../styles/_config.scss";
.sidebar{
    background-color: #f1f1f1;
    padding: 30px 25px;
    height: 100%;
    
    .sideBarOptions{
        margin-bottom: 20px;
    }
    svg{
        height: 20px;
        width: 20px;
    }
    .title{
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;
    }
    .SideBarOptionValue{
        font-size: 12px;
    }

}
.CloseButton{
    .btntype1{
        background-color: $secondry-color;
        border-color: $secondry-color;
        padding: 10px 35px;
    }
}