///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE DETAIL POPUP COMPONENT                        //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
.Popup_title{
    .price{
        font-size: 15px;
        padding: 0px 0 0 0;
        span{
            font-size: 20px;
            font-weight: 600;
        }
    }
    .reviewRating{
        float:right;
        font-size: 15px;
        padding: 7px 10px 0 0;
        font-weight: 400;
        display: flex;
        align-items: center;
        span{
            font-weight: 600;
            margin-right: 5px;
        }
        svg{
            fill : $star_rating_color ;
            margin-right: 1px;
        }
    }
}
.error_messgae {
    color: $alert-color;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 27px 0;
}

.error_messgae {
    color: $red;
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    padding: 27px 0;
}

.Availability{
    background-color: $ac-type-background-color;
    border-radius: 6px;
    height: 100%;
    margin-bottom: 15px;
    padding: 15px 10px;

    .title{
        padding: 8px 0;
        font-size: 17px;
        font-weight: 600;
    }

    .price{
        font-size: 15px;
        padding: 10px 0 0 0;
        span{
            font-size: 20px;
            font-weight: 600;
        }
    }
   
    .btntype1{
        width: 100%;
        color: $header-bgcolor;
        background-color: $secondry-color;
        border-color: $secondry-color;
        height: 100%;
    }
    .btntype1:focus {
       box-shadow: none;
       outline: none;
       border: none;
     }
    .selecttraveller_box button{
        width: 100%;
        border-color: $button-border-color;
        width: 100%;
        padding: 12px 10px 12px 40px;
        font-size: 16px;
        font-weight: 600;
        background-image: url(/_next/static/media/icon-user.d040e602.svg);
        background-repeat: no-repeat;
        background-position: center left 10px;
    }
    .selecttraveller_box{
            :global(.dropdown-menu) {
                padding: 15px 15px;
                min-width: 250px;
                .label{
                font-size: 14px;
                line-height: 20px;
                font-weight: 600;
                color: $button-hover-color;
                }
                :global(.css-t3ipsp-control){
                overflow-y: auto;
                }
            }
    }
    .accordian{
        transition: height 200ms;
    } 
    .accordian_body{
        padding: 15px 0 0 0
    }
    .radioinnerBox{
        border-radius: 4px;
        border: solid 1px $box_border-color;
        margin-bottom: 10px;
        width: 100%;
    }
    .radioinnerBox{
        padding: 10px 35px 10px 10px;
        position: $r-position;
    }
    .radioinnerBox_bottom{
        display: flex;
        justify-content: space-between;

         .date_fromtext input {
            height: 40px;
         }
         .btntype1{
            padding: 10px 70px;
            border-radius: 7px;
            border: none;
         }
         .btntype1:hover{
            background-color: $event-button-hover ;
         }
         
    }
    .checkbox{
        position: $a-position;
        top: 10px;
        right: 12px;
    }
    .radioTitle{
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        color: $ac-type-detailsContent-color;
        margin-bottom: 10px;
    }
    .radioContent{
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: $ac-type-detailsContent-color;
    }
    .event_date{
        font-size: 15px;
        font-weight: 600;
        line-height: 1.2;
        color: $link-hover-color;
        
    }
    .radioSubdesc{
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: $ac-type-detailsContent-color;
    }
    .btntype2{
        color: $header-bgcolor;
        background-color: $secondry-color;
        border-color: $secondry-color;
        height: 100%;
        border-radius: 7px;    border-radius: 7px;
        font-weight: 600;
        padding: 13px 15px;
        min-width: 140px;
        margin-bottom: 10px;
        border: none;
    }
    .btntype2:hover{
        background-color: $header-bgcolor;
        border-color: $button-hover-color;
        color: $button-hover-color;
    }
    .btntype2:focus {
       outline: none;
       border: none;
     }
     .input_check_box{
        position: $a-position;
        opacity: 0;
        cursor: pointer;
        right: 10px;
        top: 10px;
        z-index: 9;
     }
     .checkmark {
        position: $a-position;
        top: 3px;
        right: 5px;
        height: 25px;
        width: 25px;
        background-color: $check-box;
        border-radius: 50%;
      }
      .checkmark:after {
        top: 9px;
        left: 9px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $header-bgcolor;
   }
      .input_check_box:checked ~ .checkmark {
        background-color: $checkbox-checked;
      }
     
}
.Modal_close {
    button{
        position: $a-position;
        top: 30px;
        right: 20px;
        background-color: $header-bgcolor;
        opacity: 1;
    }
}
.sidebar{
    background-color: $ac-type-background-color;
    padding: 30px 20px;
    height: 100%;
    
    .sideBarOptions{
        margin-bottom: 20px;
    }
    svg{
        height: 20px;
        width: 20px;
    }
    .title{
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;
    }
    .SideBarOptionValue{
        font-size: 12px;
        padding-left:  28px;
        word-wrap: break-word;
    }

}
@media (max-width: 400px) {
    .sidebar{
       margin-bottom: 12px;
    }
    .activityDetails{
        margin-top: 20px;
    }
 
 } 
.notification{
    .sideBarOptions{
        display: flex;
        background-color: $ac-type-background-color;
        padding: 10px 10px;
    }
    svg{
        height: 20px;
        width: 20px;
    }
    .title{
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;
    }
    .SideBarOptionValue{
        font-size: 12px;
        padding-left:  10px;
        word-wrap: break-word;
    }
}
.CloseButton{
    .btntype1{
        background-color: $secondry-color;
        border-color: $secondry-color;
        padding: 10px 35px;
    }
   
}
.btntype3{
    float: right;
}