@import "../../../../styles/config";
.listingFilter {
    padding: 20px 0;
    .FilterButton{
        height: 43px;;
        display: none;
        margin-bottom: -44px;
        @include devices(tablet){
          display: flex;
          align-items: center;
          justify-content: end;
        }
    }
    .customButton {
      color: $c-white;
      margin-right: 10px;
      border-radius: 6px;
      outline: none;
      padding: 10px 40px;
      position: relative;
      @include devices(tablet){
        padding: 10px 15px;
      }
      &:hover{
        svg{
          stroke: $secondry-color;
        }
      }
      &:focus{
        svg{
          stroke: $secondry-color;
        }
      }
      svg{
        margin-right: 10px;
        stroke: $c-white;
      }
    }
    .customButton1 {
      color: $primary-color;
      border-radius: 6px;
      outline: none;
      padding: 9px 30px;
      position: relative;
      @include devices(tablet){
        padding: 10px 15px;
      }
      svg{
        margin-right: 10px;
      }
    }
  }