///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE DETAIL SLIDER COMPONENT                       //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////



@import "../../../../styles/mixins";
.bannerSlider{
    display: block;
    position: relative;
    .bannerFlex{
        margin: 0 -8px;
        .cmnCol{
            padding: 0 8px;
        }
        .slick-slider{
            height: 100%;
            button.slick-next{
                right: 0;
                &::before{
                    content: '';
                    
                }
            }
            button.slick-prev{
                left: 0 !important;
                z-index: 9;
                &::before{
                    content: '';
                    
                }
            }
            
        }
        .slick-slide img{
            min-width: 100%;
        }
    } 
    .secondSlider{
        height: 100%;
        .bannerslide{
            cursor: pointer;
        }
        :global(.slick-arrow.slick-disabled){
            display: none !important;
        }
        :global(.slick-next){
            z-index: 9;
            left: 50%;
            width: 56px;
            height: 56px;
            top: auto;
            top: -30px;
            transform: translateX(-50%);
            @include devices(mobile){
                height: 36px;
                width: 36px;
            }
            &::before{
                opacity: 1;
                content: '';
                background: url('../../../../public/images/arrow-down.svg') no-repeat;
                display: block;
                height: 56px;
                width: 56px;
                background-size: contain;
                transform: rotate(180deg);
                @include devices(mobile){
                    transform: rotate(270deg);
                    height: 36px;
                    width: 36px;
                }
            }
            @include devices(mobile){
                left: auto;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
        :global(.slick-prev){
            z-index: 9;
            left: 50%;
            width: 56px;
            height: 56px;
            top: auto;
            bottom: -15px;
            transform: translateX(-50%);
            @include devices(mobile){
                height: 36px;
                width: 36px;
            }
            &::before{
                opacity: 1;
                content: '';
                background: url('../../../../public/images/arrow-down.svg') no-repeat;
                display: block;
                height: 56px;
                width: 56px;
                background-size: contain;
                transform: rotate(0deg);
                @include devices(mobile){
                    transform: rotate(90deg);
                    height: 36px;
                    width: 36px;
                }
            }
            @include devices(mobile){
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                bottom: auto;
            }
        }
        :global(.slick-list){
            display: flex;
            .slick-track{
                display:flex !important;
                @include devices(mobile){
                    display: block;
                }
            }
            :global(.slick-slide){
                border: none;
                padding-bottom: 10px;
                @include devices(mobile){
                    padding-bottom: 0;
                }
            }
            @include devices(mobile){
                display: block;
            }
        }
        
    }
    .bannerslide{
        .bannerimg{
            height: 600px;
            object-fit: cover;
            object-position: center center;
            width: 100%;
        }
        .bannersideimg{
            height: 100% !important;
            max-height: 247px !important;
            object-position: center;
            object-fit: cover;
            width: 100% !important;
            max-width: 406px !important;
        }
        img{
            min-width: 100% ;
            height: auto;
        }
    }
   
}