///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                        FILE FOR STYLE DROP DOWN COMPONENT.                        //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
.search_formbox {
  .form-select {
    border-color: #666;
    padding-left: 40px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    color: #333;
  }
}
