
///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                      FILE FOR STYLE BREADCRUMB COMPONENT                        //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////



@import '../../../../styles/mixins';
.breadcrumbOuter{
    padding: 30px 0;
    @include devices(mobile){
        padding: 15px 0;
    }
    .breadcrumbList{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include devices(mobile){
            display: block;
        }
        :global(.breadcrumb){
            margin: 0;
            @include devices(mobile){
                margin-bottom: 10px;
            }
            :global(.breadcrumb-item){
                flex: 0 0 auto;
                @include devices(mobile){
                    padding-left: 5px;
                    &:first-child{
                        padding: 0;
                    }
                }
                a{
                    color:#1d1d1d;
                    line-height: 1.31;
                    font-size: 13px;
                    @include devices(mobile){
                        font-size: 12px;
                    }
                }
                &::before{
                    content: '>';
                }
                &:first-child{
                    &::before{
                        content: none;
                    }
                }
                &:last-child{
                    a{
                        text-decoration: none;
                    }
                    
                }
                
            }
        }
        .storeList{
            a{
                display: inline-block;
                span{
                    img{
                        width: 48px !important;
                        height: 48px !important;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}