@import "../../../../styles/config";
.bookingProcess {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    margin: 25px 0px;
    background-color: rgba(65, 15, 78, 0.1);
    border-radius: 9px;
    overflow-x: auto;
    @include devices(tablet) {
      justify-content: unset;
      padding: 10px 0;
    }
    .wrapper {
      margin-right: 20px;
      @include devices(tablet) {
        position: relative;
        display: block !important;
        margin-right: 15px;
        text-align: center;
        min-width: 80px;
      }
      .iconWrapper {
        position: relative;
        width: 40px;
        height: 40px;
        border: 1px solid #000000;
        border-radius: 50%;
        @include devices(tablet) {
          margin: 0 auto;
        }
        &::after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background: $c-black;
          border-radius: 50%;
          height: 8px;
          width: 8px;
        }
      }
      .titleWrapper {
        line-height: 20px;
        @include devices(tablet) {
          display: block !important;
        }
        &::after {
          content: "";
          background: url("../../../../public/images/processArrow.svg");
          background-repeat: no-repeat;
          background-size: contain;
          width: 14px;
          height: 14px;
          display: inline-block;
          line-height: 20px;
          @include devices(tablet) {
            width: 17px;
            position: absolute;
            top: 18%;
            left: 100%;
          }
        }
        .title {
          padding: 0 20px;
          @include devices(tablet) {
            padding: unset;
          }
        }
      }
    }
    .successProcess {
      background-color: #43ba1e;
      border-color: #43ba1e !important;
      &::after{
          background-image: url('../../../../public/images/booking-right.svg') !important;
          background-color: transparent !important;
          background-repeat: no-repeat !important;
          background-size: contain !important;
          width: 15px !important;
          height: 13px !important;
          display: flex !important;
      }
    }
    .currentProcess {
      background-color: $link-color;
      border-color: $link-color !important;
      &::after{
          background:#fff !important;
      }
    }
  }