@import "../../../../styles/config";
.bodyWrapper{
  display: flex;
  @include devices (tablet){
      display: block;
  }
}
.modalBody{
    height: 500px;
    overflow-y: auto;
    .wrapper{
      width: 33.33%;
      @include devices (tablet){
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .totalPrice{
        color: $secondry-color;
        font-weight: 700;
      }
    }
  }
  .facilityTab{
    table{
      tr{
        th{
          border: 1px solid $c-black;
          padding: 10px;
        }
        td{
          padding: 10px;
          border: 1px solid $c-black;
        }
      }
    }
  }

  // .thumbnail-slider-wrap {
  //   margin-top: 15px;
  //   height: 85px;
  // }
  // .thumbnail-slider-wrap {
  //   margin: 0 -14px;
  //     .slick-slide {
  //       text-align: center;
  //     }
  // }
  // .thumbnail-slider-wrap{
  //   .slick-track{
  //     .slick-slide{
  //       img {
  //         width: 100% !important;
  //       }
  //     }
  //   }
  // }

  // .thumbnail-slider-wrap{
  //   margin: 20px -14px 0 !important;
  // }
  .tabContent{
    border: 1px solid $primary-color;
    .tabWrapper{
      background: $primary-color;
      :global(.nav-link){
        color: $c-white !important;
        border-radius: unset;
        border: none;
        @include devices (mobile){
          padding: 7px 10px;
          font-size: 12px;
        }
      }
      :global(.nav-link.active){
        padding: 7px 14px 6px;
        background-color: $secondry-color;
        @include devices (mobile){
          padding: 7px 10px 6px;
        }
      }
    }
  }