@import "../../../styles/_config.scss";

.trasferHeaderMain{
  border-bottom: 1px solid gray;
padding-bottom: 10px;
.TransferHeaderTop{    
    :global(.css-13cymwt-control){
      min-height: 51px;
      border:1px solid #979797;
    }
    :global(.css-t3ipsp-control){
      min-height: 51px;
      border:1px solid #979797;
    }
    .travellerDropdown{
      @media (max-width:767px) {
        margin-bottom: 15px;
      }
    }
}
}
.price {
      font-size: 20px;
      line-height: 0.96;
      font-weight: bold ;
      color: $primary-color;
    }
.airpotInput{
  position: relative;
  :global(.formbox){
      position: relative;
      padding-left: 40px;
      border:1px solid #979797;
      border-radius: 4px;
    &::before{
      position: absolute;
      background-image: url("../../../public/images/transferListing/airpot.svg");
      content: "";
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      width: 14px;
      height: 20px;
      display: inline-block;
      background-size: contain;
    }
    :global(.form-control){
      border:none;
      &::placeholder{
        color: black;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.hotelInput{
  position: relative;
  :global(.formbox){
      position: relative;
      padding-left: 40px;
      border:1px solid #979797;
      border-radius: 4px;
    &::before{
      position: absolute;
      background-image: url("../../../public/images/transferListing/hotels.svg");
      content: "";
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      width: 20px;
      height: 18px;
      display: inline-block;
      background-size: contain;
    }
    :global(.form-control){
      border:none;
      &::placeholder{
        color: black;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}
.direction{
    border: 1px solid gray;
    padding: 7px;
    border-radius: 50%;
    z-index: 99;
    background-color: white;
    right:-16px;
    top:7px;
}
.ReserveButton{
    :global(.btntype1) {
        min-width: 30%;
        width:130px;
        font-weight: 400;
        font-size: 16px;
      }
}
.SearchButton{
:global(.btntype1) {
    min-width: 20%;
    font-weight: 500;
    font-size: 16px;
  }
  input{
    width: 102px;
    padding: 12px 10px;
  }
}
.SortByText{
    font-size: 14px;
    color:#2b2b2b;
    line-height: 35px;
}
.sortBySelect{
  @include devices(mobile){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .FilterButton{
    display: none;
    @include devices(tablet){
      display: block;
    }
  }
  :global(.css-b62m3t-container){
    display: inline-block;
  }
}
.sortByTextLeft{
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 0.24px;
  color: #410f4e;
}
.sortByTextLeft2
{
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: normal;
  color: #2b2b2b;
}
.pickupDateDiv, .pickupTimeDiv{
  position: relative;
  :global(.react-datepicker__input-container) {
    input {
      padding: 20px 10px 5px 40px;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .date_fromtext {
    position: absolute;
    left: 52px;
    top: 5px;
    z-index: 1;
  }
  :global(.react-datepicker-wrapper){
    width:252px;
    @media (max-width:567px) {
      width: auto;
      margin-bottom: 15px;
    }
  }
}
.pickupTimeDiv{
  :global(.react-datepicker__input-container) {
    input {
      padding: 20px 40px 5px 40px;
    }
  }
  &::after{
    position: absolute;
    background-image: url("../../../public/images/transferListing/arrow.svg");
    content: "";
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }
  :global(.react-datepicker__time-container) {
    width: 252px;
    :global(.react-datepicker__time-box){
      width: 252px !important;
    }
  }
}
.listImg{
  display: flex;
  img{
    flex-shrink: 100%;
    min-height: 100%;
    min-width: 100%;
  }
}
.reserveBtnBlock{
  position: relative;
  .ReserveButton{
    position: absolute;
    bottom:0;right: 10px;
  }
}
