@import "../../../../styles/_config.scss";
.topbar {
  padding: 0;
  background-color: $header-bgcolor;
  border-bottom: 1px solid #dfdfdf;
  .logo_section {
    padding: 10px;
    background-color: $primary-color;
  }
  :global(.btntype2) {
    padding: 6px 15px;
    min-width: auto;
  }
}
