@import '../../../../styles/config';

.brandFare{
    border-bottom: 1px solid $border-color;
    @include devices (mobile){
      overflow-x: auto;
    }
    .brandHeader{
      li{
        list-style: none;
        font-size: 13px;
        font-weight: 600; 
        padding: 10px;
        border: 1px solid $border-color;
        border-width: 1px 1px 0 0;
        line-height: 17px;
        background: rgba(65, 15, 78, 0.1);
        text-align: center;
        @include devices (mobile){
          &:last-child{
            min-width: 200px;
          }
          font-size: 12px;
          padding: 10px 0;
          min-width: 100px;
        }
      }
    }
    .fareData{
      .dataTitle{
        font-size: 12px;
        border: 1px solid $border-color;
        border-width: 1px 1px 0 0;
        padding: 10px 10px 0;
        line-height: 15px;
        @include devices (mobile){
          &:last-child{
            min-width: 200px;
          }
          min-width: 100px;
        }
        ul{
          list-style: none;
          padding-left: 0;
          li{
            list-style: none;
            text-align: center;
        }
        }
        .brandButton{
        min-width: 100% !important;
        padding: 5px;
        &:hover{
            background-color: $primary-color;
            color: $c-white;
        }
        }
      }
    }
  }