///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                  FILE FOR STYLE DETAIL POPUP SLIDER COMPONENT                     //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////



@import "../../../../styles/_config.scss";
.Carousel_slider{
   margin-top: 20px;
    > div + button{
      background-color: $red;

    }
   .slider{
    color: $red;
    width: 230px;
    height: 157px;
    padding: 5px;
   }
   .slider img{
      max-width: 100%;
   }
  
}
