///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                          FILE FOR STYLE ACCORDION TYPE COMPONENT                  //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////


@import "../../../../styles/_config.scss";
@import "../../../../styles/mixins";
.accordiontype{
    margin-bottom: $ac-type-margin-bottom;
    padding: 0px;
    border-top: 1px solid $ac-type-border-top;
    border-bottom: 1px solid $ac-type-border-top;
    :global(.accordion-button){
        color: $primary-color;
        padding: 6px 0px;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        box-shadow: none !important;
        @include devices(mobile){
            font-size: 14px;
        }
        &:after{
            background-image: url("../../../../public/images/faq-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px;
            display: none;
        }
    }
    
    :global(.accordion-body){
        font-size: 16px;
        line-height: 1.69;
        padding: 10px;
        :global(.aminities){
            list-style: none;
            padding: 0;
            li{
                position: $r-position;
                padding-left: 20px;
                &::before{
                    content: '';
                    height: 7px;
                    width: 7px;
                    background: $ac-type-background;
                    border-radius: 100%;
                    display: inline-block;
                    position: absolute;
                    left: 4px;
                    top: 10px;
                }
            }
            :global(.inclusiveitem){
                &::before{
                    content: '';
                    background: url('../../../../public/images/inclusive.svg');
                    top: 6px !important;
                    background-repeat: no-repeat !important;
                    background-position: center center !important;
                    height: 17px;
                    width: 17px;
                    left: 0 !important;
                    background-size: contain !important;
                }
            }
            :global(.exclusiveitem){
                &::before{
                    content: '';
                    background: url('../../../../public/images/exclusive.svg');
                    top: 6px !important;
                    background-repeat: no-repeat !important;
                    background-position: center center !important;
                    left: 0 !important;
                    height: 17px;
                    width: 17px;
                    background-size: contain !important;
                }
            }
        }
    }   
}
@media (max-width: 400px) {
    .accordiontype{
       margin-bottom: 12px;
    }
    .btntype1{
        margin-top: 20px;
    }
 
 } 
.accordionPlus{
    background-color: $ac-type-background-color;
    margin-bottom: 10px;
.Availability{
    background-color: $ac-type-background-color;
    border-radius: 6px;
    width: 100%;
    padding: 15px 10px;

        .btntype1{
            width: 100%;
            color: $header-bgcolor;
            background-color: $secondry-color;
            border-color: $secondry-color;
            height: 100%;
            max-height: 35px;
        }
        .btntype1:focus {
        box-shadow: none;
        outline: none;
        border: none;
        }
        .title{
            padding: 8px 0;
            font-size: 17px;
            font-weight: 600;
        }
    
        .price{
            font-size: 15px;
            padding: 10px 0 0 0;
            span{
                font-size: 20px;
                font-weight: 600;
            }
        }
    }  
    .DetailsContent{
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: $ac-type-detailsContent-color;
        padding: 10px;
        border-radius: 4px;
        border: solid 1px $ac-type-border;
    }  
    .radioinnerBox_bottom{
        margin-top: 10px;

        .date_fromtext input {
            height: 40px;
        }
        .btntype1{
            padding: 0px 40px;
            border-radius: 7px;
            border: none;
            color: $header-bgcolor;
            background-color: $secondry-color;
            border-color: $secondry-color;
            height: 40px;
            font-size: 14px;
            float: right;
            
        }
        .btntype_inactive{           
            pointer-events: none;
            opacity: 0.4;
            cursor: not-allowed;
            padding: 0px 40px;
            border-radius: 7px;
            border: none;
            color: $header-bgcolor;
            background-color: $secondry-color;
            border-color: $secondry-color;
            height: 40px;
            font-size: 14px;
            float: right;
        }
        .btntype1:hover{
            background-color:  $button-color ;
         }
    }   
    .selecttraveller_box {
        :global(.dropdown-toggle){
          &::after{
            position: $a-position;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
          }
        }
        button{
            width: 100%;
            padding: 9px 10px 9px;
            background-color: $header-bgcolor;
            border-color: $ac-type-button-bgcolor;
        }
        :global(.dropdown-menu) {
          padding: 15px 15px;
          min-width: 250px;
          .label{
            font-size: 14px;
            line-height: 20px;
            font-weight: 600;
            color: $button-hover-color;
          }
          :global(.css-t3ipsp-control){
            overflow-y: auto;
          }
        }
      }  
    .Errormsg{
        color: $red;
        padding: 6px 0;
        font-weight: 600;
        text-align: center;
        border: 1px solid;
    }
}
