///////////////////////////////////////////////////////////////////////////////////////
//                                                                                   //
//                          FILE FOR STYLE ACCORDION TYPE COMPONENT                  //
//                                                                                   //
///////////////////////////////////////////////////////////////////////////////////////



@import "../../../../styles/_config.scss";
@import "../../../../styles/mixins";
.accordiontype{
    margin-bottom: 50px;
    padding: 0px;
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    :global(.accordion-button){
        color: $primary-color;
        padding: 6px 0px;
        font-size: 16px;
        font-weight: 500;
        background-color: transparent;
        box-shadow: none !important;
        @include devices(mobile){
            font-size: 14px;
        }
        &:after{
            background-image: url("../../../../public/images/faq-arrow.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px;
            display: none;
        }
    }
    
    :global(.accordion-body){
        font-size: 16px;
        line-height: 1.69;
        padding: 10px;
        :global(.aminities){
            list-style: none;
            padding: 0;
            li{
                position: relative;
                padding-left: 20px;
                &::before{
                    content: '';
                    height: 7px;
                    width: 7px;
                    background: #000;
                    border-radius: 100%;
                    display: inline-block;
                    position: absolute;
                    left: 4px;
                    top: 10px;
                }
            }
            :global(.inclusiveitem){
                &::before{
                    content: '';
                    background: url('../../../../public/images/inclusive.svg');
                    top: 6px !important;
                    background-repeat: no-repeat !important;
                    background-position: center center !important;
                    height: 17px;
                    width: 17px;
                    left: 0 !important;
                    background-size: contain !important;
                }
            }
            :global(.exclusiveitem){
                &::before{
                    content: '';
                    background: url('../../../../public/images/exclusive.svg');
                    top: 6px !important;
                    background-repeat: no-repeat !important;
                    background-position: center center !important;
                    left: 0 !important;
                    height: 17px;
                    width: 17px;
                    background-size: contain !important;
                }
            }
        }
    }

}
.accordionPlus{
    background-color: #f1f1f1;
    margin-bottom: 10px;
.Availability{
    background-color: #f1f1f1;
    border-radius: 6px;
    width: 100%;
    padding: 15px 10px;

        .btntype1{
            width: 100%;
            color: $header-bgcolor;
            background-color: $secondry-color;
            border-color: $secondry-color;
            height: 100%;
        }
        .btntype1:focus {
        box-shadow: none;
        outline: none;
        border: none;
        }
        .title{
            padding: 8px 0;
            font-size: 17px;
            font-weight: 600;
        }
    
        .price{
            font-size: 15px;
            padding: 10px 0 0 0;
            span{
                font-size: 20px;
                font-weight: 600;
            }
        }
    }  
    .DetailsContent{
        font-size: 14px;
        font-weight: normal;
        line-height: 1.71;
        color: #2b2b2b;
        padding: 10px;
        border-radius: 4px;
        border: solid 1px #cac6c6;
    }  
    .radioinnerBox_bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .date_fromtext input {
            height: 40px;
        }
        .btntype1{
            padding: 0px 70px;
            border-radius: 7px;
            border: none;
            color: #ffffff;
            background-color: #fe6652;
            border-color: #fe6652;
            height: 40px;
            font-size: 14px;
        }
        .btntype1:hover{
            background-color: $event-button-hover ;
        }
    }    
}
